<!DOCTYPE html>
<html>
<head>
  <title>Pages</title>
  <%= stylesheet_link_tag    "no_cms/admin/pages/application", media: "all" %>
  <%= javascript_include_tag "no_cms/admin/pages/application" %>
  <%= javascript_include_tag "no_cms/admin/pages/content_block_handler" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
