<div class="title">
  <%= I18n.t "no_cms.pages.blocks.layouts.#{f.object.layout}" %>
  <div class="mo">
    <input type="submit" value="" class="ico-mini-delete">
    <a href="" class="ico-mini-move-up"></a>
    <a href="" class="ico-mini-move-down"></a>
    <a href="" class="ico-mini-show-hide"></a>
  </div>
</div>
<div class="row">
  <%= f.label :layout %>
  <%= f.select :layout, NoCms::Pages.block_layouts.map{|name, _| [ I18n.t("no_cms.pages.blocks.layouts.#{name}"), name ]}, {}, class: 'block_layout_selector' %>
</div>
<div class='layout_fields'>
<%= render "no_cms/admin/pages/blocks/#{f.object.template}" , f: f %>
</div>

<%= f.hidden_field :position, class: 'position', value: f.index %>
