<div class="row has-children content_blocks_placeholder">
  <label><%= t('.title') %></label>

  <%= link_to t('.new_block'), '#', class: 'new_content_block btn _m0' %>

  <%= f.fields_for :blocks do |f_block| %>

    <div class="block row <%= block_form_classes(f_block.object).join(" ")%>" id="<%= block_form_id(f_block.object) %>">
      <%= render 'no_cms/admin/pages/blocks/form', f: f_block %>
    </div>
  <% end %>
</div>
