<div class="row has-children" id='content_blocks_placeholder'>
  <label><%= t('.title') %></label>

  <%= link_to t('.new_block'), '#', id: 'new_content_block', class: 'btn _m0' %>

  <%= f.fields_for :blocks do |f_block| %>
    <div <%= raw f_block.object.new_record? ?
      "class='new block row' id ='new_content_block_#{f_block.object.layout}'" :
      "class='block row' id ='content_block_#{f_block.object.id}'" %>>
      <%= render 'no_cms/admin/pages/blocks/form', f: f_block %>
    </div>
  <% end %>
</div>
