<div id="content_fields">
  <div class="row">
    <%= f.label :parent_id %>
    <%= f.select :parent_id, NoCms::Pages::Page.with_translations.map{|p| [p.path, p.id]}, include_blank: t('.choose_page') %>
  </div>
  <div class="row">
    <%= f.label :layout %>
    <%= f.select :layout, NoCms::Pages::Page.layouts.map{|t| [I18n.t(".no_cms.admin.pages.pages.layouts.#{t}"), t] } %>
  </div>
  <div class="row">
    <%= f.label :template %>
    <%= f.select :template, NoCms::Pages::Page.templates.map{|t| [I18n.t(".no_cms.admin.pages.pages.templates.#{t}"), t] } %>
  </div>
  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="row">

    <%= f.label_with_tooltip :slug, { tooltip: t('.slug_tooltip')} %>

    <%= f.object.parent.path unless f.object.parent.nil? %>
    <%= f.text_field :slug %>
  </div>

  <% if NoCms::Pages.cache_enabled %>
    <div class="row">
      <%= f.label_with_tooltip :cache_enabled, { tooltip: t('.cache_enabled_tooltip')} %>
      <%= f.check_box :cache_enabled %>
    </div>
  <% end %>

  <div class="row">

    <%= f.label_with_tooltip :css_class, t('.css_settings'), { tooltip: t('.css_settings_tooltip')} %>

    <%= f.text_field :css_class, class: 'half', placeholder: t('activerecord.attributes.no_cms/pages/page.css_class') %>
    <%= f.text_field :css_id, class: 'half', placeholder: t('activerecord.attributes.no_cms/pages/page.css_id') %>
  </div>

  <% if NoCms::Pages.use_body %>
    <div class="row">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
  <% end %>
</div>
